nav div{
    display: flex;
    justify-content: space-around;
    margin: 0;
}
nav a{
    display: block;
    text-decoration: none;
    color: #080E26;
    font-size: large;
    padding: 10px;
 }
 @media screen and (max-width:400px){
    nav .row{
        display: grid;
    }
}